@import "https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#container {
  height: 1800px;
  background-image: url(media/FinalCutFlipped.png);
  background-repeat: repeat-y;
  background-color: #eeeeee;
}

.title1 {
  padding-top: 50px;
}

#quizTitle {
  /* background: url(media/BookCovers2.JPG) repeat center center;
  background-position: 40% 70%; */
  color: rgb(0, 0, 0);
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  position: relative;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #ff2828c2;
}

#quizTitle h2 {
  font-size: 6rem;
  font-weight: 800;
  font-family: "Dosis";
  text-align: center;
}

.title1,
.title2 {
  font-family: itc-benguiat, serif;
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #ff282850;
}

.quizTitle,
.title1,
.title2 {
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(7, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down:hover,
.arrow-down:focus {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgb(144, 144, 144);
}

/* End of Title Styling  */

.quizWrapper {
  background-color: white;
  margin-top: 20px; /* make this one line */
  margin-left: auto;
  margin-right: auto;
  max-width: 654px;
  height: auto;
  display: none;
  text-align: center;
  /* border-top: 8px solid #690000;
  border-bottom: 8px solid #690000; */
  /* padding: 2rem; */
  box-shadow: 3px 3px 5px 6px #ccc;
  font-family: "Roboto", sans-serif;
}

.quizControls {
  padding-right: 10px;
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #690000;
}

.questionCounter {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
  margin-left: 0.5rem;
}

.currentScore {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}

.question {
  display: block;
  margin-top: 50px;
}
/* styling the  buttons and button lables  */
.answerChoice {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

.answerChoice:checked::before {
  position: absolute;
  font: 15px/1 "Open Sans", sans-serif;
  left: 11px;
  top: 7px;
  content: "\02143";
  transform: rotate(40deg);
}

.answerChoice:hover {
  background-color: #f7f7f7;
}

.answerChoice:checked {
  background-color: #f1f1f1f1;
}
/* End of styling  buttons */

.answerBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 10px 10px 0;
  border: none;
  margin: 0.5rem;
}

/* button styling */

.material-icons {
  color: white;
}

button {
  border: none;
  background: none;
  padding: none;
  margin: none;
  cursor: pointer;
}

/* end button styling */

form {
  font-family: "Roboto", sans-serif;
}
/* minor styling for response screens */
.questionRightScreen,
.questionWrongScreen,
.finishLine {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

/* auto styling the images */
img {
  width: auto;
  height: 230px;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-top: 30px;
}
