@import "https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400";

* {
  box-sizing: border-box;
  margin: 0px;
  /* padding: 0px; */
}

#container {
  height: 1800px;
  background-image: url(media/FinalCutFlipped.png);
  background-repeat: repeat-y;
  background-color: #eeeeee;
  min-width: 320px;
}

.title1 {
  padding-top: 50px;
}

#quizTitle {
  /* background: url(media/BookCovers2.JPG) repeat center center;
  background-position: 40% 70%; */
  color: rgb(0, 0, 0);
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  position: relative;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #ff2828c2;
}

#quizTitle h2 {
  font-size: 6rem;
  font-weight: 800;
  font-family: "Dosis";
  text-align: center;
}

.title1,
.title2 {
  font-family: itc-benguiat, serif;
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #ff282850;
}

.quizTitle,
.title1,
.title2 {
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(7, 0, 0);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down:hover,
.arrow-down:focus {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #690000;
}

/* End of Title Styling  */

.quizWrapper {
  background-color: white;
  margin-top: 20px; /* make this one line */
  margin-left: auto;
  margin-right: auto;
  max-width: 654px;
  height: auto;
  display: none;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

.quizControls {
  padding-right: 10px;
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #690000;
}

.questionCounter {
  margin-left: 5rem;
}

.questionCounter,
.currentScore,
.finalScore {
  font-family: "Roboto", sans-serif;
  padding: 15px 0;
  font-weight: 600;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.questionMessage {
  padding: 2rem;
}

.question {
  display: block;
  margin-top: 30px;
  padding: 0.5rem;
  letter-spacing: 0.03rem;
  line-height: 1.6;
}
/* Answer Selection Styling  */

label {
  font-size: 20px;
  letter-spacing: 0.03rem;
}

.answerBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 10px 10px 0;
  border: none;
  margin: 0.5rem;
}

.answerChoice {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  background-color: #f1f1f1;
  color: rgb(255, 255, 255);
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.answerChoice:checked::before {
  position: absolute;
  font: 15px/1 "Open Sans", sans-serif;
  left: 11px;
  top: 7px;
  content: "\02143";
  transform: rotate(40deg);
}

.answerChoice:hover {
  background-color: #d46653;
}

.answerChoice:checked {
  background-color: #9e372a;
}
/* End Answer Styling */

/* Nav button styling */

#submitButton,
#transitionButton {
  font-size: 20px;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  margin: 1rem;
  background-color: #9d372a;
  color: white;
  padding: 0.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#submitButton:hover {
  background-color: #d46653;
}
#transitionButton:hover {
  background-color: #d46653;
}

.material-icons {
  color: white;
}

button {
  border: none;
  background: none;
  padding: none;
  margin: none;
  cursor: pointer;
}

/* end nav button styling */

form {
  font-family: "Roboto", sans-serif;
}

/* minor styling for response screens */
.questionRightScreen,
.questionWrongScreen,
.finishLine {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

/* auto styling the images */
img {
  width: auto;
  height: 230px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

/* Final Page Styling */

.finalScore {
  margin-left: auto;
  margin-right: auto;
}

#portrait {
  box-shadow: none;
  max-width: 500px;
  height: 400px;
  margin-top: 10px;
}

blockquote {
  font-size: 1.4em;
  width: 90%;
  margin: 30px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #9d372a;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: itc-benguiat, serif;
  content: "\201C";
  color: #9d372a;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

/* media Querys */
@media only screen and (max-width: 768px) {
  #container {
    height: 1800px;
    /* background-image: url(media/FinalCutFlipped.png); */
    background-image: none;
    background-color: #eeeeee;
    min-width: 320px;
  }

  .quizWrapper {
    background-image: url(media/FinalCutFlipped.png);
    background-size: 300px 200px;
    background-repeat: repeat-y;
  }

  .title1,
  .title2 {
    font-size: 6rem;
  }

  #quizTitle h2 {
    font-size: 4rem;
  }
  .answerChoice {
    background-color: #b9b9b9;
  }
}

@media only screen and (max-width: 450px) {
  .title1,
  .title2 {
    font-size: 4rem;
  }

  #quizTitle h2 {
    font-size: 2rem;
  }
}
